@font-face {
    font-family:'LuckiestGuy';
    src: url(LuckiestGuy.ttf);
}

@font-face {
    font-family: 'Mallanna';
    src : url(Mallanna-Regular.ttf);
}

.logo {
    font-family: Luckiest Guy;
    color: #ffffff;
    font-size: 180px;
    font-weight: 300;
    line-height: 70px;
    letter-spacing: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    top: 200px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 20px 50px;
    width: 100%;
    box-sizing: border-box;
    
}
.header button {
    background-color: white;
    color: #C72D67;
    font-weight: bold;
    width: 152px;
    height: 58px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    flex-shrink: 0;
}
.header button:hover {
    background-color: #eee;
}

.header button:active {
    transform: scale(0.98);
}

#para_header{
    font-family: Luckiest Guy;
    color: #ffffff;
    font-size: 30px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    text-underline-position: from-font;
}

body {
    background-color: #C72D67;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

h1 {
    font-family: Luckiest Guy;
    color: #ffffff;
    text-align: center;
    font-size: 115px;
    font-weight: 300;
    line-height: 70px;
    letter-spacing: 3%;
    margin-bottom: 20px;
}

#results {
    text-align: center;
    max-width: 900px;
    width: 100%;
    background-color: #F8F1F5;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    padding: 20px;
}

.product-item {
    width: 100%; /* S'adapte à la colonne */
    max-width: 250px; /* Largeur max */
    height: 300px;
    border: 2px solid #C72D67;
    border-radius: 5px;
    background-color: #F8F1F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: relative;
}

.product-Image {
    margin-top: 15px;
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    border-radius: 5px;
}

.product-title {
    font-family: 'LuckiestGuy', sans-serif;
    font-size: 19px;
    color: #C72D67;
    text-align: center;
    max-width: 90%;
    padding-bottom: 40px;
}

.favorite-checkbox {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.favorite-checkbox::before {
    content: "❤";
    font-size: 30px;
    color: #ccc;
    transition: color 0.3s;
}

.favorite-checkbox:checked::before {
    color: #C72D67;
}

.nutriscore {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-family: 'LuckiestGuy', sans-serif;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nutriscore[data-score="a"] {
    background-color: #40870F;
}
.nutriscore[data-score="b"] {
    background-color: #5CC115;
}
.nutriscore[data-score="c"] {
    background-color: #EAE864;
}
.nutriscore[data-score="d"] {
    background-color: #F28E36;
}
.nutriscore[data-score="e"] {
    background-color: #F82E34;
}